{% extends "_base.html" %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h4 mb-4 text-gray-800">Meu Perfil <small>( {{ user.name }} )</small></h1>

          <hr>

          <div class="float-right float-sm-right float-md-right float-lg-right float-xl-right">
            <a href="{% url 'consultar_users' %}" class="btn btn-std btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text">Voltar</span>
            </a>
          </div>

          <div class="clearfix"></div>

          <hr>

          <div class="container">
            
            <div class="row justify-content-center">
              
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
                
                <form class="form-container" method="post" action="">
                  
                  <font size="5" color="green">Senha alterada com sucesso!</font>

                </form>

                
                  
                  <div class="text-right mb-4">
                    
                    

                  </div>

              </div>

            </div>

            <div class="modal fade" id="modalSalvarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalSalvarUsuarioTitulo" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalSalvarUsuarioTitulo">Deseja <strong>salvar</strong> as alterações realizadas?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    Clique "Sim" abaixo para salvar as alterações.

                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Não</button>
                    <a class="btn btn-success" href="">Sim</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="modalCancelarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalCancelarUsuarioTitulo" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalCancelarUsuarioTitulo">Deseja <strong>cancelar</strong> as alterações realizadas?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  
                    Nenhuma alteração será salva.

                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Não</button>
                    <a class="btn btn-success" href="user-alterar-perfil.html">Sim</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}